name: Hello World
on:
 workflow_dispatch: 
 # push:
 #   branches: ["main"]
 # pull_request:
 #   branches: ["main"]

jobs:
 demo:
  runs-on: ubuntu-latest

  steps:
   - name: Greetings
     run: echo "Hello World!"

   - name: list current directory
     run: ls
