name: example-workflow
on: [push]
jobs:
  production-deploy:
    if: ${{ github.repository == 'mridul325/firstrepo' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '14'
      - run: npm install -g bats
