name: Reusable Workflow SelfHost

on:
 workflow_dispatch: 
 
jobs:
 build:
  runs-on: self-hosted
  steps:
  - name: Checkout
    uses: actions/checkout@v4.2.0
  - name: Run Reusable Build Step
    run: echo 'This is a reusable workflow on Self Hosted'
